@backgroundColour: lightblue;
@foregroundColour: rebeccapurple;
@barHeight: 80px;

@barWidth: 75vw;
@barWidthMobile: 90vw;

@mobileBreakpoint: 1000px;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

  > * {
    margin-top: 100px;
  }

  .header {
    text-align: center;
  }
  
  .progress-bar-container {
    border: 3px solid black;
    background-color: @backgroundColour;
    color: @foregroundColour;
    height: @barHeight;
    width: @barWidth;
    font-size: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: @mobileBreakpoint) {
      width: @barWidthMobile;
    }
 
    .progress-bar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0; // This will get overwritten by the javascript
      transition: width 0s linear; // The duration is set in the javascript
      background-color: @foregroundColour;
      overflow: hidden;

      .progress-bar-inner {
        width: @barWidth;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @backgroundColour;

        @media (max-width: @mobileBreakpoint) {
          width: @barWidthMobile;
        }
      }
    }
  }
}
